# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
db.sqlite3
media/
staticfiles/

# Environment
.env
venv/

# Docker
postgres_data/

# VSCode
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Migration cache
*/migrations/__pycache__/
